<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Красный дракон</title>
  <link rel="preload" href="fonts/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link href="{% static 'css/vendor.css' %}"  link rel="stylesheet">
  <link href="{% static 'css/main.css' %}"  link rel="stylesheet">

  <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <!--{%  for user_name in user_name %}
    <ul>
      <li>Имя: {{user_name.first_name}}</li>
      <li>Фамилия:</li>
      <li>Электронная почта:</li>
      <li>Номер для связи:</li>
      <li>Адрес доставки:</li>
    </ul>
    {% endfor %}-->

    <form method="POST">
        {% csrf_token %}
        {{form.as_p }}
        <input type="submit">
    </form>

</body>
</html>